ul {
    margin-top: -10px;
    list-style-type: decimal;
    padding: 0;
}

ul li {
    margin-left: 15px;
    margin-bottom: 10px;
}

ul li:hover {
    background-color: #f8f5f5;
    padding: 5px;
    border-radius: 4px;
}